@page "/"

<PageTitle>Cardlist</PageTitle>

<header>
    <EditForm Model="@model">
        <div>
            <label for="card-name"></label>
            <InputText id="card-name" placeholder="Card name" @bind-Value="@model.CardName"></InputText>
            <label for="card-text"></label>
            <InputText id="card-text" placeholder="Card text" @bind-Value="@model.CardText"></InputText>
            <label for="card-type"></label>
            <InputText id="card-type" placeholder="Card type" @bind-Value="@model.CardType"></InputText>
        </div>
        <div>
            <label for="set"></label>
            <InputSelect id="set" @bind-Value="@model.Set">
                <option value="">All sets</option>
            </InputSelect>
            <label for="artist"></label>
            <InputText id="artist" placeholder="Artist" @bind-Value="@model.Artist"></InputText>
            <label for="rarity"></label>
            <InputSelect id="rarity" @bind-Value="@model.Rarity">
                <option value="">Rarity</option>
            </InputSelect>
        </div>
        
        <button type="submit" >Search</button>
        <button type="reset">Reset Filters</button>
    </EditForm>
    

</header>

@code {
    private Index model = new Index();

    public class Index
    {
        public string CardName { get; set; }
        public string CardText { get; set; }
        public string CardType { get; set; }
        public string Set { get; set; }
        public string Artist { get; set; }
        public string Rarity { get; set; }
    }
}
